*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;

}
a{
  text-decoration: none;
  color: inherit;
}
.content-blur{
  filter: blur(5px);
  transition: filter 0.3s ease;
}